$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}

.style-grid {
  display: grid;
  grid-template-rows: 90px 90px;
  grid-template-columns: 90px 90px 90px 90px;
}

.style-grid-image {
  border-radius: 50%;
  object-fit: cover;
  width: 90px;
  height: 90px;
}

.image-gallery-thumbnail {
  border-radius: 0%;
  object-fit: cover;
  width: 130px;
  height: 130px;
}

.image-gallery-grid {
  // display: flex
}

.image-gallery-main-image {
  object-fit: contain;
  width: 80%;
  height: 80%;
}

.image-gallery-main-image-box {
  display: flex;
  background-color: gray;
  width: 55%;
  height: 100%;
}

.overview-main-box {
  display: flex;
  height: 900px;
}

.overview-side-box {
  width: 30%;
}