$MainFont: sans-serif;
$FontXL: 2.25vw;
$FontL: 1.5vw;
$FontM: 1.1vw;
$FontS: .8vw;
$FontXS: .6vw;



$ColorExtraDarkGray: #242424;
$ColorDarkGray: #464646;
$ColorMediumGray: #808080;
$ColorLightGray: #979797;