@import "Head";

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3vw;
  max-height: 100px;
  width: 90vw;
  padding: 2vw;
  padding-left: 5vw;
  padding-right: 7vw;
  background-color: $ColorExtraDarkGray;
  color: whitesmoke;
  margin: auto;
}

.navbar-header {
  font-weight: 500;
  font-size: $FontXL;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

.navbar-searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-searchbar {
  font-size: $FontL;
  width: 15vw;
  color: whitesmoke;
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid whitesmoke;
}

.navbar-searchbar:focus {
  outline: none;
}

.navbar-searchbar-symbol {
  margin-left: .5vw;
  height: 1.7vw;
  width: 1.7vw;
  max-height: 32px;
  max-width: 32px;
  background-color: none;
  background: none;
}