@import 'Head';

.overview-component {
  font: $MainFont;
  font-size: $FontXL;
  position: relative;
  left: 10%;
  margin-block-end: 0em;
}

// Style Selector Begins

.style-grid {
  display: grid;
  grid-template-rows: 90px 90px;
  grid-template-columns: 90px 90px 90px 90px;
  row-gap: 1em;
  column-gap: 1em;
}

.style-grid-image {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  width: 90px;
  height: 90px;
  border: 2px solid $ColorMediumGray;
}

.style-grid-item-checkmark {
  display: block;
  position: absolute;
  z-index: 1;
  width: 20px;
  transform: translateX(350%);
}

.style {
  font: $MainFont;
  font-weight: bold;
  font-size: $FontM;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.style-name {
  font: $MainFont;
  font-weight: normal;
  font-size: $FontM;
}

// Style Selector Ends

// Image Gallery Contents Begins

.image-gallery-item {
  // margin-left: 20%;
  padding-top: 10%;
}

.image-gallery-thumbnail {
  border-radius: 0%;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.thumbnail-selection {
  height: 0px;
  width: 80px;
  border: 1px solid black;
}

.image-gallery-grid {
  object-fit: contain;
  z-index: 2;
  margin-left: 10%;
}

.image-gallery-scroll-up {
  position: relative;
  left: 41%;
  top: 2%;
}

.image-gallery-scroll-down {
  position: relative;
  left: 41%;
  top: 0%;
}

.image-gallery-thumbnail-column {
  margin-left: 2%;
}

.image-gallery-main-image {
  object-fit: contain;
  width: 90%;
  height: 100%;
  cursor: zoom-in;
  display: block;
  margin: auto;
}

.image-gallery-main-image-box {
  width: inherit;
  position: relative;
  left: 0%;
}

.image-gallery-main-box {
  display: flex;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// Image Gallery Ends

// Overview Top Element Begins

.overview-main-box {
  display: flex;
  height: 660px;
  margin-left: 10%;
  margin-right: 10%;
}

// Overview Top Element Ends

// Image Gallery Box Begins

.overview-left-box {
  width: 130%;
  padding-right: 1%;
  z-index: 2;
}

// Image Gallery Box Ends

// Product Info, Style Selector & Add to Cart Top Level Begins

.overview-right-box {
  // margin-left: 2%;
  width: 80%;
  z-index: 1;
}

// Product Info, Style Selector & Add to Cart Top Level Ends

// Arrows Begins

.right-arrow {
  width: 20px;
  height: 15px;
  z-index: 1;
  margin-left: -25%;
}

.right-arrow-box {
  position: relative;
  top: 45%;
}

.left-arrow {
  width: 20px;
  height: 15px;
  position: relative;
  top: 50%;
  left: 66%;
  z-index: 1;
}

.left-arrow-box {
  position: inherit;
  left: 3%;
}

.image-gallery-expand {
  position: relative;
  top: 1%;
  margin-left: -25%;
}

.expand-icon {
  width: 20px;
}

// Product Begins

.product-information-star-review-box {
  display: flex;
}

.product-information-review {
  margin-left: 2%;
  font: $MainFont;
  font-size: $FontS;
  color: $ColorDarkGray;
}

.product-category {
  font: $MainFont;
  font-size: $FontM;
  color: $ColorDarkGray;
  margin-block-end: 0em;
}

.product-name {
  font: $MainFont;
  font-size: $FontXL;
  color: $ColorDarkGray;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.price {
  font: $MainFont;
  font-size: $FontM;
  font-weight: normal;
  color: $ColorExtraDarkGray;
}

.sale-price {
  font: $MainFont;
  font-weight: bold;
  font-size: $FontM;
  color: red;
}

.product-description {
  font: $MainFont;
  font-weight: normal;
  font-size: $FontS;
  color: $ColorExtraDarkGray;
  height: 64px;
  overflow: auto;
}

// Product Ends

//Add to cart Begins

.size-selector {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  margin-right: 3%;
  width: 260px;
  height: 50px;
  background-color: white;
  font: $MainFont;
  font-size: $FontS;
  font-weight: bold;
}

.quantity-selector {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  width: 130px;
  height: 50px;
  background-color: white;
  font: $MainFont;
  font-size: $FontS;
  font-weight: bold;
}

.add-to-bag {
  display: inline-block;
  border: 1px solid $ColorExtraDarkGray;
  margin-right: 3%;
  width: 310px;
  height: 50px;
  background-color: white;
  font: $MainFont;
  font-size: $FontS;
  font-weight: bold;
  text-align: left;
}

//Add to cart Ends
