// Style Selector Begins

.style-grid {
  display: grid;
  grid-template-rows: 90px 90px;
  grid-template-columns: 90px 90px 90px 90px;
}

.style-grid-image {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  width: 90px;
  height: 90px;
}

.style-grid-item-checkmark {
  display: block;
  position: absolute;
  z-index: 1;
  transform: translateX(190%);
}

// Style Selector Ends

// Image Gallery Contents Begins

.image-gallery-item {
  // margin-left: 20%;
  padding-top: 10%;
}

.image-gallery-thumbnail {
  border-radius: 0%;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.thumbnail-selection {
  height: 0px;
  width: 80px;
  border: 1px solid black;
}

.image-gallery-grid {
  object-fit: contain;
  z-index: 2;
  margin-left: 10%;
}

.image-gallery-scroll-up {
  position: relative;
  left: 41%;
  top: 2%;
}

.image-gallery-scroll-down {
  position: relative;
  left: 41%;
  top: 0%;
}

.image-gallery-thumbnail-column {
  margin-left: 2%;
  margin-top: 3%;
}

.image-gallery-main-image {
  object-fit: contain;
  width: 90%;
  height: 100%;
  cursor: zoom-in;
  display: block;
  margin: auto;
}

.image-gallery-main-image-box {
  width: inherit;
  position: relative;
  left: 0%;
}

.image-gallery-main-box {
  display: flex;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// Image Gallery Ends

// Overview Top Element Begins

.overview-main-box {
  display: flex;
  height: 768px;
  margin-left: 10%;
  margin-right: 10%;
}

// Overview Top Element Ends

// Image Gallery Box Begins

.overview-left-box {
  width: 130%;
  padding-right: 1%;
  z-index: 2;
}

// Image Gallery Box Ends

// Product Info, Style Selector & Add to Cart Top Level Begins

.overview-right-box {
  // margin-left: 2%;
  width: 80%;
  z-index: 1;
}

// Product Info, Style Selector & Add to Cart Top Level Ends

// Arrows Begins

.right-arrow {
  width: 20px;
  height: 15px;
  z-index: 1;
  margin-left: -25%;
}

.right-arrow-box {
  position: relative;
  top: 45%
}

.left-arrow {
  width: 20px;
  height: 15px;
  position: relative;
  top: 50%;
  left: 66%;
  z-index: 1;
}

.left-arrow-box {
  position: inherit;
  left: 3%;
}

.image-gallery-expand {
  position: relative;
  top: 1%;
  margin-left: -25%;
}

.expand-icon {
  width: 20px;
}