@import "Head";

body {
  max-width: 100%;
  overflow-x: hidden;
}

.QandA-widget {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 72vw;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: $MainFont;
  font-size: $FontXL;
  color: $ColorExtraDarkGray;
}

a:hover {
  cursor: pointer;
}

.QandA-primary-header {
  width: 100%;
  margin: auto;
  font-size: $FontXL;
  margin-bottom: .25vw;
}

.QandA-searchbar-container {
  margin-bottom: .4vw;
  width: 100%;
  box-sizing: border-box;
}

.QandA-searchbar {
  width: 97.5%;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 2.5vw;
  font-size: $FontM;
  font-weight: 400;
  border-radius: 0%;
  border: 1px solid $ColorExtraDarkGray;
  background-color: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDEzIDMgQyA3LjQ4ODk5NzEgMyAzIDcuNDg4OTk3MSAzIDEzIEMgMyAxOC41MTEwMDMgNy40ODg5OTcxIDIzIDEzIDIzIEMgMTUuMzk2NTA4IDIzIDE3LjU5NzM4NSAyMi4xNDg5ODYgMTkuMzIyMjY2IDIwLjczNjMyOCBMIDI1LjI5Mjk2OSAyNi43MDcwMzEgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDI2LjcwNzAzMSAyNS4yOTI5NjkgTCAyMC43MzYzMjggMTkuMzIyMjY2IEMgMjIuMTQ4OTg2IDE3LjU5NzM4NSAyMyAxNS4zOTY1MDggMjMgMTMgQyAyMyA3LjQ4ODk5NzEgMTguNTExMDAzIDMgMTMgMyB6IE0gMTMgNSBDIDE3LjQzMDEyMyA1IDIxIDguNTY5ODc3NCAyMSAxMyBDIDIxIDE3LjQzMDEyMyAxNy40MzAxMjMgMjEgMTMgMjEgQyA4LjU2OTg3NzQgMjEgNSAxNy40MzAxMjMgNSAxMyBDIDUgOC41Njk4Nzc0IDguNTY5ODc3NCA1IDEzIDUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-size: 1.5vw 1.5vw;
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: center;
}

.question-list {
  margin: auto;
  margin-top: .3vw;
  margin-bottom: .2vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question-list-scroll-container {
  max-height: 78vh;
  overflow-y: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.answer-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.question-list-entry {
  margin-bottom: .2vw;
}

.answer-list-entry {
  margin-top: .3vw;
  margin-bottom: .2vw;
}

.question-list-default {
  margin-left: 30px;
  margin-top: .3vw;
  margin-bottom: .5vw;
  font-size: $FontM;
}

.answer-list-default {
  font-size: $FontM;
}

.no-answer-default {
  margin-left: 1vw;
  margin-top: 0;
  margin-bottom: 1.2vw;
}

.answer-load-more-link {
  font-size: $FontS;
  font-weight: 700;
  margin: auto;
  margin-left: .5vw;
  margin-bottom: 1vw;
}

.answer-load-more-link:hover {
  text-decoration: underline;
}

/*QUESTION LIST GRID START*/

.Q-grid-container {
  display: grid;
  grid-template-columns: 1fr 28fr 8fr;
}

.Q-col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: right;
}

.Q-col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Q-col-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: right;
  min-width: 125px;
}

/*QUESTION LIST GRID END*/

.question-body,
.question-label,
.answer-body,
.answer-label {
  font-size: $FontL;
  font-weight: 600;
  color: $ColorExtraDarkGray;
  margin-top: 0;
  margin-bottom: auto;
  margin-left: .5vw;
  overflow-wrap: break-word;
  word-break: break-all;
}

.answer-body {
  font-size:$FontM;
  font-weight: 500;
  margin-top: .25vw;
  margin-bottom: auto;
}

.answer-label,
.question-label {
  font-size: $FontL;
  margin-right: 5px;
}

.button-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.QandA-button-add-question,
.QandA-button-more-questions {
  margin: .6vw;
  margin-left: 0px;
  padding: .6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: 700;
  font-size: $FontS;
  color: rgb(39, 39, 39);
  border: 1px solid $ColorExtraDarkGray;
  max-height: 2.5vw;
  min-width: 10vw;
  max-width: 17vw;
}

.button-flex-container a {
  text-decoration: none;
}

.button-plus {
  font-size: $FontL;
  font-weight: 300;
  margin-left: .5vw;
}

.QandA-searchbar:focus,
.QandA-button-add-question:focus,
.QandA-button-more-questions:focus {
  outline: none;
}

.QandA-button-add-question:hover,
.QandA-button-more-questions:hover {
  box-shadow: inset 0 0 1.5vh $ColorExtraDarkGray;
}

.question-utility-container,
.answer-utility-container,
.question-utility-container-addAnswer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-bottom: auto;
  margin-right: 1vw;
  font-size: $FontS;
  color: $ColorDarkGray;
}

.answer-utility-container {
  justify-content: flex-start;
  margin-left: .5vw;
}

.question-utility-text,
.answer-utility-text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: .8vw;
}

.answer-utility-date {
  margin-left: 0px;
  margin-right: .75vw;
}

.question-utility-break,
.answer-utility-break {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: .5vw;
  margin-right: 1vw;
  font-size: 1.1vw;
}

.question-utility-count,
.answer-utility-count {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: .25vw;
  margin-right: .3vw;
}

.question-utility-link,
.answer-utility-link {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.question-utility-container-addAnswer
.answer-utility-link {
  margin-right: 1vw;
  margin-top: 0;
  line-height: 0;
  font-size: $FontM;
}

/*ANSWER LIST IMAGES*/

.answer-photo-gallery {
  display: flex;
  height: 5vw;
  margin-top: 1.5vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.answer-images {
  margin: .5vw;
  max-height: 5vw;
  max-width: 10vw;
}

.photo-upload-preview-container {
  display: flex;
  max-width: 95%;
  margin-top: .5vw;
  margin-bottom: .5vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.upload-photo-thumbnail {
  margin: .25vw;
  max-height: 4vw;
  max-width: 6vw;
  border: 1px solid $ColorExtraDarkGray;
}

/*MODAL STYLING*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 1vw 2vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  box-shadow: 0 0 1.25vw #f8f8f8;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}

.modal-close {
  align-self: flex-end;
  font-size: 1.25vw;
  line-height: 0;
  font-family: $MainFont;
  margin-top: .25vw;
}

.QandA-modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: $MainFont;
  font-size: $FontM;
  margin: 2vw 1vw;
  margin-top: 1vw;
  max-width: 45vw;
}

.modal-header {
  font-size: $FontL;
  font-weight: 700;
  margin-bottom: 1vw;
}

.modal-sub-header {
  font-size: $FontL;
  font-weight: 500;
  margin: .5vw 0;
  margin-bottom: 1.2vw;
  overflow-wrap: break-word;
  word-break: break-all;
}

.QandA-modal-body input,
.QandA-modal-body textarea {
  font-family: $MainFont;
  font-size: $FontM;
  margin-top: .7vw;
}

.QandA-modal-body .QandA-modal-label {
  margin-bottom: 1.2vw;
  margin-top: 1.2vw;
}

.QandA-modal-body textarea {
  width: 40vw;
  min-height: 4vw;
  resize: none;
  border-radius: .1vw;
  margin-bottom: 1.2vw;
  padding: .5vw;
}

.QandA-modal-body input {
  width: 40vw;
  height: 1.75vw;
}

.QandA-modal-body .QandA-submit {
  width: 10vw;
  height: 2vw;
  font-size: $FontL;
  font-family: $MainFont;
  background-color: none;
  color: $ColorExtraDarkGray;
  border-radius: .2vw;
  border: 1px solid $ColorExtraDarkGray;
  box-shadow: inset 0 0 .1vw #00000085;
  justify-self: flex-end;
}

@keyframes glowChange {
  0%   {box-shadow: inset 0 0 .1vw #00000085;}
  50% {box-shadow: inset 0 0 2vw #ffffff73;}
  100%   {box-shadow: inset 0 0 .1vw #00000085;}
}

.QandA-modal-body .QandA-submit:hover {
  animation-name: glowChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

.modal-privacy-warning,
.modal-email-warning {
  color:$ColorMediumGray;
  margin: .5vw 0;
}

label.QandA-photo-upload,
.QandA-clear-photos {
  justify-content: center;
  display: inline-block;
  align-items: center;
  background: none;
  margin-right: .25vw;
  font-size: $FontM;
  text-align: center;
  padding: .4vw;
  width: auto;
  height: auto;
  border-radius: .25vw;
  border: 1px solid $ColorExtraDarkGray;
}

.QandA-clear-photos {
  visibility: hidden;
}

.QandA-photo-upload:focus
.QandA-clear-photos:focus {
  outline: none;
}

.QandA-photo-upload:hover,
.QandA-clear-photos:hover {
  box-shadow: inset 0 0 1.5vh $ColorExtraDarkGray;
}

input[type="file"] {
  display: none;
}

.QandA-photo-modal {
  max-height: 80vh;
  max-width: 80vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}