@import 'Head';

.topLevelRatingsAndReviews {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: $MainFont;
  font-size: $FontS;
  color: $ColorDarkGray;
}

.reviews-header {
  width: 100%;
  margin: auto;
  font-family: $MainFont;
  font-size: $FontXL;
  margin-top: 2vw;
  margin-left: 14.5vw;
}

.review-score {
  display: inline-grid;
  grid-template-columns: 1fr 6fr;
  font-size: 3vw;
}

.recommends-product {
  font-size: $FontS;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: $ColorDarkGray;
}

.barGraph {
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  vertical-align: middle;
  margin-bottom: 0.5vw;
}

.rating-num {
  font-size: $FontM;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.Characteristics-bars {
  margin-top: 2vw;
  font-size: $FontS;
}

.review-score-text {
  color: rgb(85, 85, 85);
  margin-right: 1vw;
}
.review-existance {
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.5fr;
  margin-top: 2vw;
  border-bottom: 2px solid rgb(82, 82, 82);
}

.reviewData {
  width: 48.1984375vw;
  margin-top: 0%;
}

.data-summary {
  width: 48.1984375vw;
  display: inline-block;
  font-size: $FontL;
  color: rgb(82, 82, 82);
  overflow: hidden;
  margin-bottom: 0;
}

.data-body {
  width: 48.1984375vw;
  display: inline-block;
  overflow-wrap: break-word;
  margin-top: 0.25vw;
}

.review-buttons {
  display: grid;
  grid-template-columns: 6.5vh 3vh 3.5vh 2vh;
  grid-row-start: 3;
}

.userNameText {
  text-align: right;
  margin-top: 0;
}

.yes-button {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.report-button {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-of-review {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 2.6vw
}

.review-list {
  margin-top: 1vw;
}

.review-buttons-adder {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-top: 1vw;
}

.more-review-button {
  display: grid;
  margin: 0.6vw;
  margin-left: 0px;
  margin-right: 1vw;
  padding: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: 700;
  font-size: $FontS;
  color: rgb(39, 39, 39);
  border: 1px solid rgb(24, 24, 24);
  max-height: 2.5vw;
  min-width: 10vw;
  max-width: 15vw;
  cursor: pointer;
}

.add-review-button {
  display: grid;
  margin: 0.6vw;
  margin-left: 0px;
  margin-right: 1vw;
  padding: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: 700;
  font-size: $FontS;
  color: rgb(39, 39, 39);
  border: 1px solid rgb(24, 24, 24);
  max-height: 2.5vw;
  min-width: 10vw;
  max-width: 15vw;
  cursor: pointer;
}

.Add-Review-Modal {
  font-family: sans-serif;
}

.modal-display-stars {
  font-size: $FontL;
  color: gray;
}

.Reviews-Summary {
  margin: 0px;
  width: 790px;
  height: 19px;
}

.Reviews-Body {
  margin: 0px;
  width: 791px;
  height: 175px;
}

select {
  border: 1px solid #fff;
  background-color: transparent;
  text-decoration: underline;
  font-family: $MainFont;
  font-size: $FontM;
}

.starContainer {
  margin-bottom: 0.5vw;
}

.recommend-check-mark {
  margin-bottom: 0.75vw;
}

.review-list-sort {
  font-size: $FontM;
}

.text-helpful {
  padding-top: 0.05vw;
}

.sort-changer {
  cursor: pointer;
}

.some-text-helpful {
  align-items: center;
}

.helpful-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

